<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <title>Карта устройств</title>

    <!-- map css-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <!--main css-->
    <style>
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>

    <!--map js-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!--main js-->
    <script>
        let map = null;
        let markers = null;
        let beacons = null;

        async function initialize() {
            map = L.map('map').setView([47.29, 39.73], 8);

            // add base layer
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: 'your.mapbox.access.token'
            }).addTo(map);

            // add regions layer
            //L.layerGroup([...await getRegions()], {interactive: false}).addTo(map)

            // add markers layer
            markers = L.markerClusterGroup({showCoverageOnHover: false}).addTo(map)
            beacons = new Map()

            /* Setup our timer to poll from the server. */
            window.setInterval(async function () {
                const {prevMarkers, nextMarkers, newMarkers} = await getBeacons()
                await updateMarkers(prevMarkers, nextMarkers)
                await addMarkers(newMarkers)
            }, 3000);
        }

        async function getRegions() {
            const res = await fetch('/region.json')
            const dat = await res.json()
            return dat.map(region => L.circle([region.lat,region.lon], region.radius * 1000))
        }

        async function getBeacons() {
            const res = await fetch('/data.json')
            // console.log(res)
            const data = await res.json()
            // console.log(data)
            const prevMarkers = [];
            const nextMarkers = [];
            const newMarkers = [];

            let marker = null;

            for (const beacon of data) {
                marker = L.marker([beacon.lat, beacon.lon])

                if (beacons.has(beacon.beaconID)) {
                    prevMarkers.push(beacons.get(beacon.beaconID))
                    beacons.set(beacon.beaconID, marker)
                    nextMarkers.push(marker)
                    continue
                }

                beacons.set(beacon.beaconID, marker)
                newMarkers.push(marker)
            }

            return {prevMarkers, nextMarkers, newMarkers}
        }

        async function updateMarkers(prevMarkers, nextMarkers) {
            markers.removeLayers(prevMarkers)
            markers.addLayers(nextMarkers)
        }

        async function addMarkers(newMarkers) {
            markers.addLayers(newMarkers)
        }
    </script>
</head>
<body onload="initialize()">
  <div id="map"></div>
</body>
</html>